<h1><%= translate "helpers.legend.sing_up_now" %></h1>

<%= form_for(@user) do |f| %>
  <%= render 'fields', :f => f %>
  <div class="actions">
    <%= f.submit translate("helpers.legend.sing_up_now") %>
  </div>
<% end %>

